<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="google-site-verification" content="UVNCeth02DptIz_3DzrVOIAfUlyGJYYVhVnVqMvqltA" />
    <meta name="alexaVerifyID" content="McEPIMXPJFe1ncwBJE2Qyx1clSA" />
    <meta name='yandex-verification' content='44ffdab0d9fb33bb' />
    <meta name="msvalidate.01" content="3B2791C6245D98FC6A024EB4EC8A26F8" />
    <meta name="p:domain_verify" content="f55d92011f70da3f483daaaf27f280b5" />

    <title>Azmi ŞAHİN | Senior Software Developer | Scientist | Instructor</title>
    <meta name="description" content="Yazılım Geliştirme, Web Uygulama Çözümleri, Kurumsal Destek, Bilimsel Çalışmalar, Eğitim Destek Hizmetleri"
    />
    <meta name="keywords" content="Yazılım Geliştirme, Web Uygulama Çözümleri, Kurumsal Destek, Bilimsel Çalışmalar, Eğitim Destek Hizmetleri"
    />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Azmi ŞAHİN | Yazılım Geliştirm Uzamnı | Bilim İnsanı | Eğitmen" />
    <meta property="og:description" content="Yazılım Geliştirme, Web Uygulama Çözümleri, Kurumsal Destek, Bilimsel Çalışmalar, Eğitim Destek Hizmetleri"
    />
    <meta property="og:image" content="azmisahin.github.io/favicon.jpg" />
    <meta property="og:url" content="www.azmisahin.com" />
    <meta property="og:locale" content="tr_TR" />

    <meta itemprop="name" content="Azmi ŞAHİN | Senior Software Developer | Scientist | Instructor" />
    <meta itemprop="description" content="Yazılım Geliştirme, Web Uygulama Çözümleri, Kurumsal Destek, Bilimsel Çalışmalar, Eğitim Destek Hizmetleri"
    />
    <meta itemprop="image" content="azmisahin.github.io/favicon.jpg" />

    <link rel="canonical" href="www.azmisahin.com" />
    <link rel="shortlink" href="www.azmisahin.com" />
    <link rel="alternate" hreflang="tr" href="www.azmisahin.com" />
    <link rel="prev" title="Home" href="www.azmisahin.com" />
    <link rel="next" title="About" href="www.azmisahin.com" />
    <link rel="icon" href="https://azmisahin.github.io/favicon.png" />
    <link rel="shortcut icon" href="https://azmisahin.github.io/favicon.png" />
    <link rel="apple-touch-icon" href="https://azmisahin.github.io/favicon.png" />

    <meta name="google" content="notranslate" />
    <meta name="cache-control" content="no-cache" />
    <meta name="pragma" content="no-cache" />

    <meta http-equiv="cache-control" content="max-age=1" />
    <meta http-equiv="expires" content="1" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Page-Enter" content="blendTrans(Duration=0.2)" />
    <meta http-equiv="Page-Exit" content="blendTrans(Duration=0.2)" />

    <meta name="author" content="Azmi ŞAHİN" />
    <meta name="generator" content="bilgi(at)azmisahin.com" />

    <link rel="stylesheet" type="text/css" href="/content/css?v=0.1.0" />
</head>

<body>

    <div id="header">
        <h1><img src="/content/img/favicon.png" alt="Azmi ŞAHİN" /></h1>
        <p>Azmi ŞAHİN | Senior Software Developer | Scientist | Instructor</p>
    </div>

    <div id="main">
        <div class="section first">
            <h2>Error</h2>
            <ul>
                <li>Error Title</li>
                <li>Error Description</li>                
            </ul>
        </div>

        <div class="section">
            <h2>Detail</h2>
            <p></p>
        </div>

        <div class="f-row"></div>
        <div id="footer">
            <p><a href="mailto:bilgi(at)azmisahin.com">İletişim</a> | <a href="http://azmisahin.com">azmisahin.com</a></p>
        </div>
    </div>


</body>

</html>